* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(217, 19%, 24%);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  border-radius: 13px;
  position: relative;
}

.title {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  padding-bottom: 14px;
}

.advice{
  font-size: 28px;
  color: white;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.btn {
  position: absolute;
  left:50%;
  bottom: -31px;
  transform: translate(-50%);
  background-color: hsl(150, 100%, 70%);
  border: none;
  padding: 15px 17px;
  border-radius: 50%;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid grey;
  height: 1px;
  width: 100%;
  content: "";
  padding-top: 10px;
}


@media screen and (max-width: 800px) {
  body {
    background-color: rgb(103, 103, 103);
  }
  .line {
    border-bottom: 1px solid red;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(224, 224, 224);
  }
  .line {
    border-bottom: 1px solid yellow;
  }
}